<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <style>
        body{
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
</head>
<body>
<!--工具栏  模仿导航条-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Microblog</a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">首页</a></li>
                <% if(!locals.user){ %>
                    <li><a href="/login">登录</a></li>
                    <li><a href="/reg">注册</a></li>
                <% }else{ %>
                    <li><a href="/logout">登出</a></li>
                <% } %>
            </ul>
            <% if(locals.user){%>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="javascript:;">用户名：<%=locals.user.username%></a>
                    </li>
                </ul>
            <% } %>
        </div>
    </div>
</nav>

<div id="container" class="container">
    <% if(locals.success){ %>
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%=locals.success %>
        </div>
    <% } %>
    <% if(locals.error){ %>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%=locals.error %>
    </div>
    <% } %>
    <%- body %>
    <hr/>
    <footer>
        <p><a href="javascript:;">yuanlan</a>2015</p>
    </footer>
</div>
</body>
<script src="/javascripts/jquery-1.9.1.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</html>